pre {
    background-color: #ffffff;
    padding: 2em;
    font-size:.7em;
    color: #555555;
}

pre code {
    font-family: 'Source Code Pro', Monaco, Consolas, "Lucida Console", monospace;
}

pre .pln {
    color: #555555;
}

pre .str {
    color: #DD1144;
}
pre .kwd {
    color: #445588;
}
pre .com {
    color: #b8b6b1;
}
pre .typ {
    color: #008080;
}
pre .lit {
    color: #DD1144;
}
pre .pun,
pre .opn,
pre .clo {
    color: #555555;
}
pre .tag {
    color: #445588;
}
pre .atn {
    color: #008080;
}
pre .atv {
    color: #DD1144;
}
pre .dec,
pre .var {
    color: #DD1144;
}
pre .fun {
    color: #445588;
}


/* ------- END OF THEME ------- */