@font-face {
    font-family: 'Tenby Five';
    src: url('../../fonts/tenby-five.otf');
}

nav {
    background: #2095F2;
    color: #fcfcfc;
    box-sizing: border-box;
    margin-bottom: 30px;
}

nav .brand {
    font-family: "Tenby Five";
}

nav .ui.button {
    margin-top: 18px;
}

#header {
    background: white;
}

pre, .pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
}

.text-right {
    text-align: right;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

footer {
    margin: 20px 0;
    color: #a3a3a3;
    text-align: center;
    font-size: 12px;
}

.alert {
    border: 1px solid rgba(0, 0, 0, 0.26);
    padding: 10px;
    box-sizing: border-box;
    margin: 0 10px 10px;
    font-weight: bold;
}

.alert.error {
    background: rgb(243, 205, 205);
}

#loginBox {
    margin: 30px 0;
}

.grid-container + .grid-container {
    margin-top: 15px;
}

.accordion {
    margin-top: 30px;
}

nav ul {
    list-style: none;
    text-align: right;
    margin: 24px 0 0 0;
    padding: 0;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

nav ul li {
    display: inline;
    margin: 0;
    padding: 0;
}

nav ul li+li {
    margin-left: 40px;
}

nav ul li a {
    color: white;
}

nav ul li a:hover {
    color: rgb(149, 204, 247);
}

.brand a {
    color: white;
}

.brand a:hover {
    color: white;
}

.header {
    font-weight: bold;
}

small.author {
    font-size: 14px;
    font-weight: normal;
}

#latestBlogPosts {
    border-left: 1px solid #d9d9d9;
}

#blog {
    padding: 20px;
    box-sizing: border-box;
}

small {
    color: #a3a3a3;
}

.description img {
    max-width: 100%;
}

#delete.button {
    margin-top: 15px;
}