nav {
  background: #2095F2;
  color: #fcfcfc;
  box-sizing: border-box;
  margin-bottom: 30px;

  &.header-follow {
    margin-bottom: 0;
  }

  .brand {
    font-family: "Tenby Five", Lato, sans-serif;
    color: white;

    a {
      color: white;

      &:hover {
        color: white;
      }
    }
  }

  .ui.button {
    margin-top: 18px !important;
  }

  ul {
    list-style: none;
    text-align: right;
    margin: 24px 0 0 0;
    padding: 0;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;

    li {
      display: inline;
      margin: 0;
      padding: 0;

      & + li {
        margin-left: 40px;
      }

      a {
        color: white;

        &:hover {
          color: rgb(149, 204, 247);
        }
      }
    }
  }
}

#header {
  background: white;
}

.task-header {
  font-family: "Tenby Five", Lato, sans-serif;
  font-size: 20px;
  background: #2095F2;
  padding: 0 10px;
  margin-top: 10px;
  margin-bottom: 0;
  color: #fcfcfc;
  box-sizing: border-box;

  a {
    color: white;

    &:hover {
      color: white;
    }
  }

  .actions {
    margin-top: 27px;
  }
}

.message a.short-link {
  font-size: 3vw;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.pull-right {
  float: right;
}

.hidden {
  display: none;
}

.grid-center {
  margin: 0 auto;
  float: none !important;
}

#loginButton {
  margin-left: 17px
}

#loginDropDownButton, #logoutButton {
  margin-top: 10px;
}

footer {
  margin: 20px 0;
  color: #a3a3a3;
  text-align: center;
  font-size: 10px;
}

#loginBox {
  margin: 30px 0;
}

.grid-container + .grid-container {
  margin-top: 15px;
}

.accordion {
  margin-top: 30px;
}

.header {
  font-weight: bold;
}

#latestBlogPosts {
  border-left: 1px solid #d9d9d9;
  background-color: transparent;
}

#blog {
  padding: 20px;
  box-sizing: border-box;
}

small {
  color: #a3a3a3;

  &.author {
    font-size: 14px;
    font-weight: normal;
  }
}

.description img {
  max-width: 100%;
}

#delete.button {
  margin-top: 15px;
}

.list {
  background: white;
  padding-bottom: 15px;

  .actions {
    float: right;
    margin-top: 5px;

    .button {
      margin-bottom: 5px;
    }
  }

  .header {
    padding: 10px 0;
  }

  .description {
    margin-bottom: 10px;
  }
}

.item {
  &.deleted {
    background-color: rgb(255, 186, 186)
  }

  &.completed {
    background-color: rgb(186, 255, 189);
  }

  &.highlighted {
    background-color: rgb(255, 255, 186);
  }
}

pre, .pre {
  font-size: 12px;
  color: #545454;
  padding: 16px;
  background-color: #EDEDED;
  word-wrap: break-word;
  font-family: monospace;
  word-break: normal;

  code, .code {
    font-size: 12px;
    white-space: pre;
    color: #545454;
    background-color: transparent;
  }
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

textarea.monospace {
  font-family: monospace !important;
  font-size: 12px !important;
  word-wrap: break-word;
  word-break: normal;
}

h1 {
  &.grid-100 {
    margin: 0;
  }

  small {
    font-size: 20px;
  }
}

.ui.segment.paste {
  margin-top: 0;
}

.admin {
  &.brand {
    background: #2095F2;
    color: #fcfcfc;
    font-family: "Tenby Five", Lato, sans-serif;
    position: fixed;
    text-align: center;

    a {
      color: white;

      &:hover {
        color: white;
      }
    }
  }

  &.menu {
    padding-top: 10px;
    top: 75px !important;
  }
}

.grid-100 + .grid-100 {
  margin-top: 10px;
}

nav.admin {
  margin-bottom: 0;
  top: 0;
  position: fixed;
}

.red {
  color: #d95c5c;
}

.green {
  color: #1ebc30;
}

.blue {
  color: #3b83c0;
}

.yellow {
  color: #b58105;
}

a .icon.remove {
  color: rgba(0, 0, 0, 0.32);

  &:hover {
    color: black;
  }
}

ul.stats {
  list-style-type: none;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;

  &.small li {
    width: 80px;
    height: 80px;
    padding-top: 24px;
  }

  li {
    display: inline-block;
    border: 2px solid;
    border-radius: 50px;
    padding-top: 37px;
    width: 100px;
    height: 100px;
    background: #efefef;

    &.has-small {
      padding-top: 29px;
    }

    .small {
      font-size: 11px;
    }

    &.red {
      background: #ffe8e6;
    }

    &.green {
      background: #ebffed;
    }

    &.yellow {
      background: #fff8db;
    }

    &.blue {
      background-color: #dff0ff;
    }

    & + li {
      margin-left: 15px;
    }
  }
}

@media screen and (max-width: 1300px) {
  ul.stats li {
    display: list-item;
  }
}

.alerts {
  background: #2095F2;
  color: #fcfcfc;
  box-sizing: border-box;

  .red, .green, .blue, .yellow {
    border-bottom: 3px solid;
  }

  .red {
    background-color: #FFE8E6;
  }

  .green {
    background-color: #ebffed;
  }

  .blue {
    background-color: #dff0ff;
  }

  .yellow {
    background-color: #fff8db;
  }
}

.updates {
  height: 75px;
  width: 100%;

  td {
    vertical-align: middle;
  }
}

.pointer {
  cursor: pointer;
}

.top-margin {
  &.ten {
    margin-top: 10px;
  }
}

.bottom-margin {
  &.ten {
    margin-bottom: 10px;
  }
}

.inline {
  display: inline;
}

.titlebar {
  background-color: #DFDFDF;
  width: 100%;
  margin-bottom: 20px;
}