@font-face {
    font-family: 'Tenby Five';
    src: url('../fonts/tenby-five.otf');
}

nav {
    font-family: "Tenby Five";
    background: #2095F2;
    color: #fcfcfc;
    box-sizing: border-box;
}

nav .ui.button {
    margin-top: 18px;
}

#header {
    background: white;
    padding-bottom: 20px;
}

pre, .pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
}

.text-right {
    text-align: right;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

footer {
    margin: 10px 0;
    color: grey;
    text-align: center;
}

.alert {
    border: 1px solid rgba(0, 0, 0, 0.26);
    padding: 10px;
    box-sizing: border-box;
    margin: 0 10px 10px;
    font-weight: bold;
}

.alert.error {
    background: rgb(243, 205, 205);
}

#loginBox {
    margin: 30px 0;
}

.grid-container + .grid-container {
    margin-top: 15px;
}

.accordion {
    margin-top: 30px;
}